.page-footer {
  font-family: "Century", serif;
  color: $gold;
  font-weight: 500;
  font-size: 1.1em;
  .creep {
    font-size: .9em;
  }
  img {
    width: 125px;
  }
  h2 {
    @include visuallyhidden;
  }
  ul {
    @include clearfix;
    margin: 0;
    list-style-type: none;
    padding: 0;
    float: right;
  }
  li {
    float: right;
    margin-right: 2em;
    padding: 0 .25em;
    border-bottom: 0.4em solid transparent;
  }
  a {
    color: $gold;
    text-decoration: none;
    padding: 0.5em 0;
    display: inline-block;
    &:hover {
      color: $black;
    }
  }
}
